body {
  background-color: #3a4964;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  font-family: monospace;
}

div{
  transform: .2s ease all;

}

div.main-section {
  display: flex;
  /* justify-content: space-between; */
}

div.main-section div:first-child {
  flex: 0 0 30%;
  margin-right: 3rem;
}

div.main-section div:first-child img {
  max-width: 100%;
  min-width: 0px;
  object-fit: cover;
  height: 20rem;
  border-radius: 10px;
  border: 1px solid whitesmoke;
}

.full-flex {
  flex: 0 0 100% !important;
}

div.main-section div:last-child {
  flex: 0 0 60%;
}

div.card {
  color: whitesmoke;
  background-color: #4c6ca7;
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 10px;
  box-shadow: 2px 6px 20px 2px #3d4882;
}

div.card .title {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

div.card .title h3 {
  display: inline-block;
}

div.card .title h1,
p {
  margin: 0 2rem 0 0;
}

a.link {
  font-size: 1.2rem;
  color: palegoldenrod;
  margin-bottom: 1.5rem;
  white-space: pre-wrap;
}

div.image-hider {
  max-height: 100%;
  width: 2rem;
  background-color: #a2d89c;
  border-radius: 3px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  user-select: none; /* Non-pr*/
}

div.image-hider:hover {
  background-color: #7ee772;
}

div.image-hider:active {
  background-color: #5a9953;
}
div.image-hider img {
  max-width: 90%;
  height: auto;
  object-fit: contain;
  filter: invert(20%);
}

.highlight { 
  background-color: rgb(231 95 134);
  border: 1px solid white;
  border-radius: 4px;
  padding: 2px 5px;
  transition: .2s ease all;
  font-size: 1.1rem;
}

#messager{
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: max-content;
  max-width: 80vw;
  display: none;
  transform: translate(-50%,-50%);
  color: white;
}
/* Searchbar */
input[type="search"] {
  padding: 6px;
  font-size: 17px;
  border: none;
  border-radius: 3px 0 0 3px;

}
.icons {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  flex-shrink: 1;
  overflow: hidden;
  justify-content: flex-end;
  padding: 2rem;
}

.icons button{
  border-radius: 3px;
  padding: 6px 10px;
  margin-right: 5px;
  background: #ddd !important;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container {
  display: flex;
  bottom: 0;
  right: 0;
  flex-shrink: 1;
  overflow: hidden;
  justify-content: flex-end;
  padding: 1rem 2rem;
}

.search-container button {
  padding: 6px 10px;
  margin-right: 5px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media only screen and (max-width: 900px) {
  .main-section {
    flex-flow: column;
  }
  div.card {
    margin: 1.5rem 0.5rem;
  }

  div.main-section div:first-child {
    flex: 0 0 100%;
    margin: unset;
    margin-bottom: 1rem;
  }
  div.main-section div:last-child {
    flex: 0 0 100%;
    margin: unset;
    margin-bottom: 1rem;
  }
  div.main-section div:first-child img {
    max-width: 100%;
    min-width: 0px;
    object-fit: contain;
    height: auto;
    border-radius: 10px;
    border: 1px solid whitesmoke;
  }

  div.card .title {
    overflow-wrap: break-word;
  }

  div.card .title h1,
  p {
    margin: 0 2rem 0 0;
  }


  .search-container {
    padding: 2rem 1rem 1rem 1rem;
    justify-content: center;
  }
  .search-container *{
    flex-grow: 1;
  }
  
}
